{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Admin Portal {% endblock %}</h1>
{% endblock %}

{% block content %}
	<button class="blueButton" onclick="location.href='/employees'" type="button">Employees</button><br><br>
	<button class="blueButton" onclick="location.href='/transactions'" type="button">Transactions</button><br><br>
	<button class="greenButton" onclick="location.href='/redemptions'" type="button">Redemptions</button><br><br>
	<button class="greenButton" onclick="location.href='/rewards'" type="button">Rewards</button><br><br>
	<button class="orangeButton" onclick="location.href='/pointsReport'" type="button">Points Report</button><br><br>
	<button class="redButton" onclick="location.href='/resetPoints'" type="button">Reset Points</button><br><br><br>

	<img src="../static/giftbox.png" >
{% endblock %}